.home,
.skills {
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.home {
  align-items: center;
  color: #3e497a;
}

.about {
  width: 100%;
  height: calc(80vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#21325e, rgb(1, 85, 196), #3e497a);
  color: #f0f0f0;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: #e9d35b;
  height: 50px;
}

.pointer {
  cursor: pointer;
}

.about .prompt {
  width: 40%;
  font-size: 30px;
}

.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #3e497a;
  color: white;
}

.skills h1 {
  color: #a2a2a2;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 850px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt,
  .first,
  .second {
    width: 100%;
  }

  .first,
  .second {
    font-size: 20px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
  }

  .skills {
    text-align: center;
  }

  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}

.wrapper {
  width: 50%;
  display: flex;
  padding-bottom: 100px;
}

.first,
.second {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  width: 100%;
  text-align: left;
}

.second {
  width: 50%;
  text-align: center;
}

@media (max-width: 1300px) {
  .wrapper,
  .first,
  .second {
    width: 100%;
  }

  .wrapper {
    flex-wrap: wrap;
  }
}

.profilePicture {
  width: 50%;
  height: auto;
  border-radius: 5px;
}
