.home {
  width: 100%;
  align-items: center;
  /* font-family: "Arial", sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #3e497a;
}

.about {
  width: 100%;
  height: calc(80vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: #21325e; */
  background-image: linear-gradient(#21325e, rgb(1, 85, 196));

  color: #f0f0f0;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: #e9d35b;
  height: 50px;
}
.pointer {
  cursor: pointer;
}
.about .prompt {
  width: 40%;
  font-size: 30px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(26, 26, 91);
  color: rgb(255, 255, 255);
}

.skills h1 {
  /* color: #3e497a; */
  color: #a2a2a2;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 850px) {
  .about h2 {
    font-size: 40px;
  }

  .wrapper {
    width: 100%;
  }
  .first,
  .second {
    /* color: rgb(7, 0, 138); */
    font-size: 20px;
    width: 100%;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 100%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}

.wrapper {
  width: 50%;
  display: flex;
  padding-bottom: 100px;
}

.first {
  width: 100%;
  text-align: left;

  display: flex;
  justify-content: center;
  align-items: center;
}

.second {
  /* border: 1px solid blue; */
  width: 50%;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .first,
  .second {
    width: 100%;
  }
}

.profilePicture {
  width: 50%;
  height: auto;
  border-radius: 5px;
}
