.photo-container {
    position: relative;
    /* width: 300px; 
    height: 300px; */
    width:100%;
    min-height:300px;
    height:100%;
    overflow: hidden;
  }
  
  .photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s;
  }
  
  .photo1 {
    background-image: url('../assets//personAI.png');
    opacity: 1;
  }
  
  .photo2 {
    background-image: url('../assets/person.jpg');
    opacity: 0;
  }
  
  .photo-container:hover .photo1 {
    opacity: 0.8;
  }
  
  .photo-container:hover .photo2 {
    opacity: 0.7;
  }
  