.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.project h1 {
  margin-top: 50px;
  font-size: 35px;
}

.project img {
  max-width: 700px;
  height: auto;
  border-radius: 10px;
}

.project p {
  font-size: 40px;
  color: #3e497a;
}

.project svg {
  font-size: 60px;
  color: #3e497a;
}

.pointer {
  cursor: pointer;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.projectImage {
  max-width: 700px;
  height: 500px;
  width: 100%;
  transition: transform 0.2s;
}

@media screen and (max-width: 768px) {
  .projectImage {
    max-width: 80%;
    max-height: 300px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.overlay h2 {
  color: white;
  font-size: 40px;
  opacity: 0;
  transition: opacity 0.2s;
}

.imageContainer:hover .projectImage {
  transform: scale(1.5);
  /* cursor: pointer; */
}

.imageContainer:hover .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;

}

.imageContainer:hover .overlay h2 {
  opacity: 1;
}

.border-red{
  border: 1px solid red;
}

.technologiesUsed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}

.technologyIcon {
  margin: 20px;
}

.githubIcon{
  margin:20px;
}

.githubIcon:hover{
  cursor:pointer;
  transform: scale(1.5);
  transition: transform 0.2s;
}