.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #3e497a;
  /* background-color: blue; */
}

.project h1 {
  margin-top: 50px;
  font-size: 35px;
  color: white;
}

.project img {
  max-width: 700px;
  height: auto;
  border-radius: 10px;
}
/* 
.project p {
  font-size: 40px;
  color: #3e497a;
} */

.project svg {
  font-size: 60px;
  color: #3e497a;
}

.pointer {
  cursor: pointer;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  /* border: 1px solid white; */
}

.innerContainer {
  /* border: 1px solid white; */
  border-radius: 10px;
  transition: transform 0.2s;
  overflow: hidden;
}

.imageContainer:hover .innerContainer {
  transform: scale(1.5);
}

.projectImage {
  max-width: 700px;
  height: 500px;
  width: 100%;
  transition: transform 0.2s;
}

@media screen and (max-width: 768px) {
  .projectImage {
    max-width: 80%;
    max-height: 300px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.overlay h2 {
  color: white;
  font-size: 40px;
  opacity: 0;
  transition: opacity 0.2s;
}

.imageContainer:hover .projectImage {
  transform: scale(1.5);
  /* cursor: pointer; */
}

.imageContainer:hover .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;

}

.imageContainer:hover .overlay h2 {
  opacity: 1;
}

.border-red{
  border: 1px solid red;
}

.technologiesUsed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}

.technologyIcon {
  margin: 20px;
}

.githubIcon{
  margin:20px;
  background-color: white;
  border-radius: 20px;
}

.githubIcon:hover{
  cursor:pointer;
  transform: scale(1.5);
  transition: transform 0.2s;
}

@media screen and (max-width: 550px) {
  .project {
    /* height: auto; */
    /* width:80%; */
    /* padding: 20px 20px; */
  }

  .new-container{
    width:80%;
  }

  .project h1 {
    font-size: 30px;
    margin-top: 20px;
    padding: 0 10%;
  }

  .project img {
    max-width: 100%;
    height: auto;
  }

  .projectImage {
    max-width: 100%;
    height: auto;
  }

  .overlay h2 {
    font-size: 30px;
  }

  .technologyIcon {
    margin: 20px;
  }

  .githubIcon {
    margin: 10px;
  }
}