.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.project h1 {
  margin-top: 50px;
  /* color: #3e497a; */
  font-size: 35px;
  /* font-style: italic; */
}
.project img {
  max-width: 700px;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
}

@media screen and (max-width: 768px) {
  /* styles for screen sizes up to 768px wide */
  .project img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
  }
}

.project p {
  font-size: 40px;
  color: #3e497a;
}

.project svg {
  font-size: 60px;
  color: #3e497a;
}

.pointer {
  cursor: pointer;
}
